.dropdown {
  position: relative;
}

.dropdown__body {
  width: 100%;
  position: absolute;
  border: 1px solid #dee4e8;
  box-shadow: 0 3px 5px 0 rgba(0, 1, 3, 0.05);
  margin-top: 7px;
  top: 100%;
  z-index: 1000;
}

.dropdown__body--open-right {
  left: 0;
}

.dropdown__body--open-left {
  right: 0;
}

.dropdown__body.dropdown__body--corner-right::before,
.dropdown__body.dropdown__body--corner-left::before {
  content: "";
  z-index: 2;
  position: absolute;
  width: 0;
  height: 0;
  top: -6px;
  right: 5px;
  border-bottom: 7px solid #fbfcfc;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.dropdown__body.dropdown__body--corner-right::after,
.dropdown__body.dropdown__body--corner-left::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 7px solid #dee4e8;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.dropdown__body.dropdown__body--corner-right::before {
  top: -6px;
  right: 5px;
}

.dropdown__body.dropdown__body--corner-right::after {
  top: -7px;
  right: 4px;
}

.dropdown__body.dropdown__body--corner-left::before {
  top: -6px;
  left: 5px;
}

.dropdown__body.dropdown__body--corner-left::after {
  top: -7px;
  left: 4px;
}

.dropdown__body--white {
  background-color: #fff;
}

.dropdown__body--white .button:hover {
  background-color: #fcfcfc;
}
