.header {
  height: 75px;
  padding: 0 0 15px 0;
  border-bottom: solid 1px #e0e3e7;
  box-shadow: 0 1px 0 #fefefe;
}

.header__logo {
  float: left;
  margin: 22px 0 15px 25px;
  line-height: 1.1;
  font-size: 2em;
}

.header__logo a {
  display: block;
  width: 28px;
  height: 24px;
  text-indent: -9000px;
  background-image: svg-load('header/logo.svg', fill: #8b95a0);
  background-repeat: no-repeat;
  background-size: 28px 24px;
}

.header__menu {
  float: left;
  margin: 0 0 0 35px;
  padding: 0;
  list-style: none;
}

.header__menu-item {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  padding: 0;
  line-height: 65px;
}

.header__menu-item a {
  display: inline-block;
  text-decoration: none;
  color: #747e8a;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  line-height: 26px;
}
.header__menu-item a:hover {
  color: #47515c;
}
.header__menu-item--active a {
  color: #47515c;
}
.header__menu-item--active:after {
  content: "";
  position: absolute;
  background-color: #80909e;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: -17px;
}
