.bg-color--0 { background-color: #ff755a; }
.bg-color--1 { background-color: #ff658c; }
.bg-color--2 { background-color: #fa80db; }
.bg-color--3 { background-color: #d185ee; }
.bg-color--4 { background-color: #b385f5; }
.bg-color--5 { background-color: #7075ef; }
.bg-color--6 { background-color: #5098ea; }
.bg-color--7 { background-color: #a8b6cc; }
.bg-color--8 { background-color: #03bee9; }
.bg-color--9 { background-color: #00bdb3; }
.bg-color--10 { background-color: #00d590; }
.bg-color--11 { background-color: #a0d930; }
.bg-color--12 { background-color: #f3cb00; }
.bg-color--13 { background-color: #efc47b; }
.bg-color--14 { background-color: #ff9740; }
.bg-color--15 { background-color: #d8965b; }

.bg-color--16 { background-color: #3e464e; }
