svg.donut-chart[viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg"]
  g
    circle.donut-chart__back[r="41%" cy="81" cx="81" fill="none"]
    circle.donut-chart__front[r="41%" cy="81" cx="81" fill="none"]