.loader__container {
  position: relative;
  overflow: hidden;
  min-height: 200px;
}

.loader__container::before {
  content: '';
  display: none;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  background-image: svg-load('loader/loader.svg', fill: #ccd3d9);
  background-repeat: no-repeat;
}

.loader__container.loader__container--loading > * {
  display: none;
}

.loader__container.loader__container--loading::before {
  display: block;
}