.profile__avatar {
  float: left;
  margin-bottom: 30px;
  width: 135px;
  height: 135px;
}

.profile__stats {
  width: 135px;
  vertical-align: middle;
  float: left;
  clear: left;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.profile__stat {
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.profile__stat::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 32px;
  height: 1px;
  background: #dadee2;
}
.profile__stat>strong {
  display: inline-block;
  width: 100%;
  font-size: 30px;
  line-height: 28px;
  font-weight: 500;
  color: #47515c;
}
.profile__stat>strong span:last-child {
  font-weight: 300;
  color: #a2aab2;
}
.profile__stat>span {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  color: #47515c;
}

.profile__completed {
  padding: 12px;
  position: relative;
  width: 88px;
  float: left;
  clear: left;
  border-radius: 45px;
  border: 1px solid #d3dce3;
}

.profile__completed strong {
  margin: 8px 0 12px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.profile__completed em {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 34px;
  font-style: normal;
}

.profile__completed .donut-chart {
  display: block;
  width: 64px;
  height: 64px;
  stroke-width: 10%;
}

.profile__info {
  width: 815px;
  float: right;
  margin-left: 30px;
}

.profile__info-header {
  margin: 10px 0 20px 0;
}

.profile__user-name {
  display: inline-block;
  margin: 0;
  color: #3b3c3c;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  vertical-align: middle;
}

.profile__button-edit {
  display: inline-block;
  margin-left: 15px;
}

.profile__user-job-title {
  font-weight: 300;
  padding-left: 12px;
}
.profile__contact-info {
  position: relative;
  list-style: none;
  padding: 0;
  padding-bottom: 17px;
}
.profile__contact-info::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 32px;
  height: 1px;
  background: #dadee2;
}

.profile__contact {
  padding: 0 0 0 22px;
  margin: 10px 0;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 0;
}
.profile__contact a {
  background-image: svg-load('users/profile/external.svg', fill: #8b95a0);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 11px 11px;
  padding-right: 20px;
  color: #2f3137;
  font-size: 14px;
  text-decoration: none;
}
.profile__contact--skype {
  background-image: svg-load('users/profile/skype.svg', fill: #cdd2d8);
}
.profile__contact--email {
  background-image: svg-load('users/profile/email.svg', fill: #cdd2d8);
}
.profile__contact--phone {
  background-image: svg-load('users/profile/phone.svg', fill: #cdd2d8);
  background-size: 14px 13px;
}

.profile__info-block {
  margin: 50px 0;
}
.profile__info-block::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.profile__info-block h4 {
  color: #47515c;
  line-height: 36px;
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 6px 0;
  margin: 0;
  border-bottom: solid 1px #e2e4e7;
}
.profile__info-block h4 span:last-child {
  color: #a2aab2;
  font-weight: 300;
}

.profile__skill-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.profile__skill {
  position: relative;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  margin: 10px 13px 10px 0;
  padding-right: 13px;
}
.profile__skill::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  display: block;
  width: 1px;
  height: 14px;
  background: #dadee2;
}
.profile__skill:nth-child(4n)::after, .profile__skill:last-child::after {
  display: none;
}
.profile__skill .donut-chart {
  display: block;
  float: left;
}
.profile__skill>span {
  margin-left: 10px;
  display: inline-block;
  width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.profile__skill--placeholder>span {
  color: #cedbe2;
}

.profile__info-list {
  padding: 0;
  margin: 20px 0;
}
.profile__info-list dt {
  color: #8896a2;
  width: 120px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 15px;
  clear: left;
  float: left;
}
.profile__info-list dd {
  display: inline-block;
  margin-bottom: 10px;
  float: left;
}

/* PROFILE EDIT */
.profile-edit__avatar {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  box-shadow: 0 0 0 5px #f8f9fa, 0 0 0 6px #e2e4e7;
  border-radius: 50%;
  position: relative;
}

.edit-profile__avatar-pick {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 -13px -13px;
  padding: 0;
  background-position: center;
}
.edit-profile__avatar-pick input[type="file"] {
  position: absolute;
  left: -9000px;
}
.profile-edit__avatar::before {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  bottom: 0;
  left: 50%;
  margin: 0 0 -16px -16px;
  border-radius: 50%;
  background-color: #f6f7f8;
}

.profile-edit__form {
  width: 586px;
  margin: 0 auto;
}

.edit-profile__save {
  width: 100px;
  display: block;
  margin: 50px auto;
}

.profile-edit__form dt {
  width: 16%;
  color: #8896a2;
  font-size: 14px;
  line-height: 34px;
  display: inline-block;
  margin-bottom: 15px;
  padding-right: 15px;
  clear: left;
  float: left;
  vertical-align: middle;
}
.profile-edit__form dd {
  width: 84%;
  display: block;
  margin: 0 0 15px 0;
  float: left;
}

.profile-edit__info-list {
  list-style: none;
  padding: 0;
  position: relative;
  float: left;
  width: 84%;
  margin: 0;
}
.profile-edit__info-list-hint {
  margin-top: 14px;
  display: inline-block;
  width: 16%;
  float: left;
  line-height: 34px;
  color: #747e8a;
  vertical-align: center;
}
.profile-edit__info-list::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 0;
  width: 1px;
  background: #e2e4e7;
}

.profile-edit__info-item {
  position: relative;
  padding-left: 10px;
  margin: 15px 0;
}
.profile-edit__skill-name {
  display: inline-block;
  width: 300px;
  margin-right: 10px;
}
.profile-edit__skill-value {
  display: inline-block;
  margin-right: 10px;
  width: 132px;
}
.profile-edit__info-item .donut-chart {
  vertical-align: middle;
}
.profile-edit__info-item .button--remove {
  position: absolute;
  right: 0;
  top: 50%;
  margin: -8px -28px 0 0;
}
.profile-edit__add-info-item {
  margin-top: 2px;
}

.profile-edit__experience-name {
  display: inline-block;
  width: 220px;
  margin-right: 10px;
}
.profile-edit__experience-date {
  display: inline-block;
  width: 115px;
}

/* TEAM */
.team {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  border-spacing: 0;
}

.team-header {
  margin: 0;
  padding: 0;
}

.team-header th {
  color: #747e8a;
  font-size: 11px;
  line-height: 14px;
  font-weight: normal;
  border-bottom: solid 1px #fefefe;
  padding: 10px 12px;
  text-align: left;
  box-shadow: inset 0 -1px 0 #e7e9ec;
}

.team-header--sortable {
  cursor: pointer;
}
.team-header--sortable::after {
  content: "";
  vertical-align: middle;
  margin-left: 3px;
  display: inline-block;
  width: 6px;
  height: 3px;
}
.team-header--sorted-asc::after {
  background-image: svg-load('users/team/sort_up.svg', fill: #747e8a);
}
.team-header--sorted-desc::after {
  background-image: svg-load('users/team/sort_down.svg', fill: #747e8a);
}

.team-header__activity { width: 120px; }
.team-header__name { width: 20%; }
.team-header__email { width: 20%; }
.team-header__phone { width: 120px; }
.team-header__skills { width: 20%; }
.team-header__controll { width: 45px; }

.team td:nth-child(4) {
  text-align: right;
}

.team .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.team a {
  text-decoration: none;
  color: inherit;
}

.team td {
  padding: 7px 12px;
  background: #f8f9fa;
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
}

.team td:last-child {
  padding-right: 22px;
}

.team td:last-child .loader::before {
  height: 20px;
  width: 20px;
  margin: -10px 0 0 -10px;
}

.team .team__user-actions {
  float: right;
}
.team__user-action-list {
  list-style: none;
  padding: 0;
  margin: -5px 0;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
}
.team__user-action {
  min-width: 120px;
  margin: 0 -10px;
  padding: 5px 20px;
}
.team__user-action:hover {
  color: #000;
  background-color: #f1f4f8;
}

.team td:empty::after {
  content: "—";
  color: #cedbe2;
}

.team tr:hover td {
  background: #fbfcfc;
  border-top-color: #e2e4e7;
  border-bottom-color: #e2e4e7;
}
.team tr:hover:first-child td {
  border-top-color: transparent;
}
.team tr:hover .team__user-actions {
  visibility: visible;
}

.team__admin-badge { position: relative; }
.team__admin-badge::before {
  content: 'A';
  display: block;
  color: #fff;
  background-color: #fb787b;
  position: absolute;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 50%;
  left: 0;
  margin: -8px 0 0 -10px;
  font-size: 10px;
  font-weight: 600;
  border: 2px solid #f8f9fa;
  text-align: center;
}

.team__skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.team__skill {
  position: relative;
}
.team__skill .donut-chart {
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
.team__skill>span {
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.team__skill--placeholder>span {
  color: #cedbe2;
}
.team__skill--more>span {
  color: #47515c;
}
.team__skill--more::before {
  content: "+";
  color: #8896a2;
  display: inline-block;
  height: 14px;
  width: 14px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px dashed #8b959e;
  font-size: 13px;
  line-height: 13px;
}

.team__filters {
  display: inline-block;
  margin-right: 20px;
}
.team__filter {
  color: #747e8a;
  border-right: 1px solid #d5dbe2;
  margin-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.team__filter:last-child { border-right: none; }

.team__filter:hover,
.team__filter.team__filter--active {
  color: #2f3137;
}
