.range-calendar {
  padding: 5px 30px;
}

.range-calendar--selecting .calendar__day--selected {
  background: #f6f8f9;
}

.range-calendar__months {
  width: 645px;
  min-height: 256px;
}

.calendar__month {
  margin: 0 20px;
}

.range-calendar__footer {
  border-top: 1px solid #e2e4e7;
  padding: 25px 0 10px 0;
  margin: 0 20px;
  font-size: 13px;
  overflow: hidden;
}

.range-calendar__preselect-functions {
  margin-left: -10px;
  float: left;
}

.range-calendar__preselect-function {
  padding: 0 10px;
  cursor: pointer;
}

.range-calendar__preselect-function:hover {
  color: #2f3137;
}

.range-calendar__selected-view {
  float: right;
}

.range-calendar__selected-date {
  display: inline-block;
  min-width: 80px;
}
.range-calendar__selected-date--start { text-align: right; }
.range-calendar__selected-date--selecting { color: #a2aab2; }