body {
  /*background: #fafafa;;*/
  background: linear-gradient(#fff 0, #fcfcfc 90px, #fafafa 144px) #fafafa repeat-x;
  /*background-color: #f8f9fa;*/
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #3e464e;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

section {
  margin: 20px;
}

.centered-container {
  margin: 0 auto;
  width: 996px;
  padding: 40px 8px;
}

.section-header {
  border-bottom: 1px solid #e2e4e7;
  padding: 0 0 6px;
  overflow: hidden;
  vertical-align: middle;
}

.section-body {
  padding: 10px 0;
}

.section-header__title {
  float: left;
  color: #47515c;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}

.section-buttons {
  line-height: 36px;
  float: right;
}