body {
  background-color: #f8f9fa;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #3e464e;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

section {
  margin: 20px;
}

.centered-container {
  margin: 0 auto;
  width: 996px;
  padding: 40px 8px;
}

.section-header {
  border-bottom: 1px solid #e2e4e7;
  padding: 0 0 6px;
}

.section-header__title {
  color: #47515c;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}
