.action-list {
  list-style: none;
  padding: 0;
  margin: 10px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
}
.action-list__action {
  min-width: 120px;
  margin: 0 -10px;
  padding: 5px 20px;
}
.action-list__action:hover {
  color: #000;
  background-color: #f1f4f8;
}
